#Python tutorial 1/2

This tutorial covers the key Python skills you’ll need so you can start using Python.

* 0. Install Python
* 1. Using Python as a Calculator
* 2. Variable Assignment
* 3. Data Structure
    * Numeric
    * Strings
    * Input/Output (I/O)
    * List
    * Tuples
    * Sets
    * Dictionary
* 4. if, elif, else Statements
* 5. For Loops
* 6. While Loops
* 7. List comprehensions
* 8. Functions
* 9. Map function
* 10. Data casting

# 0. Install Python

### Google Colab:
https://colab.research.google.com

### Anaconda:
https://docs.anaconda.com/anaconda/install

### Python:
https://www.python.org/downloads

# Elementary Python using Jupyter Notebook

## Step 1: Installing Python

1. Go to the official Python website: https://www.python.org/downloads/
2. Download the latest version of Python for your operating system (Windows, macOS, or Linux).
3. Run the installer and follow the on-screen instructions to install Python.

## Step 2: Installing Jupyter Notebook

1. Open a terminal (Command Prompt on Windows, Terminal on macOS, or your preferred terminal on Linux).
2. Install Jupyter Notebook using pip by running the following command:

In [ ]:
# !pip install notebook


3. After the installation is complete, launch Jupyter Notebook by running the following command:

In [ ]:
# jupyter notebook


This will open Jupyter Notebook in your default web browser.

## Alternative: Installing Anaconda

Anaconda is a distribution of Python and R for scientific computing and data science. It comes with Jupyter Notebook and other useful packages pre-installed.

1. Go to the official Anaconda website: https://www.anaconda.com/products/individual
2. Download the Anaconda installer for your operating system (Windows, macOS, or Linux).
3. Run the installer and follow the on-screen instructions to install Anaconda.

### Launching Jupyter Notebook using Anaconda

1. Open the Anaconda Navigator application.
2. Click on the "Launch" button under the Jupyter Notebook icon.

Now that you have installed Python and Jupyter Notebook, you can start creating new notebooks and teaching elementary Python concepts.

# 1. Using Python as a Calculator

Let’s try some simple Python commands.

In [ ]:
print((50 - 5*6) / 4)

5.0

In [ ]:
print(8 / 4)  # division always returns a floating point number

2.0

In [2]:
a = int(2)
b = int(4)
print(b/a)

2.0

Division (/) always returns a float. To do floor division and get an integer result (discarding any fractional result) you can use the // operator; to calculate the remainder you can use %

In [ ]:
print(17 / 3)  # classic division returns a float

5.666666666666667

In [ ]:
print(17 // 3)  # floor division discards the fractional part

5

In [ ]:
print(17 % 3)  # the % operator returns the remainder of the division

2

With Python, it is possible to use the ** operator to calculate powers

In [ ]:
print(2 ** 7)  # 2 to the power of 7

128

#### Comment:

In [3]:
# this is a single-line comment
# ctrl + '/' comments and uncomments a line of code in most IDEs

"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

# 2. Variable Assignment

## 2.1 Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

In [ ]:
asdf:! = 2

SyntaxError: ignored

In [ ]:
a = 4.50

In [ ]:
b = "Python"

In [ ]:
c = 1+2j     # complex

## 2.2 Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **complex**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [ ]:
print(type(a))

<class 'float'>

In [ ]:
a=2
print(type(a))

<class 'int'>

In [8]:
print(type(b))

<class 'int'>

In [7]:
print(type(c))

<class 'str'>

In [5]:
x=True
y=False

print(type(x))

<class 'bool'>

In [6]:
a = 10
a += 1 # a = a+1
print(a)

11

In [9]:
a, b, c = 5, 3.2, "Hello"
print (a)
print (b)
print (c)
x = y = z = "same"
print (x)
print (y)
print (z)

5
3.2
Hello
same
same
same

# 3. Data Structure
* **Numeric**
* **Strings**
* **List**
* **Tuples**
* **Sets**
* **Dictionary**

## 3.1 Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

###  3.1.1 Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [11]:
c = "This is also a string"
print(c)

This is also a string

In [12]:
print(c)
print(len(c))
print(c[8])
print(c[1:])
print(c[:5])
print(c + " this is me")
# Grab everything, but go in steps size of 2
print(c[::2])

This is also a string
21
a
his is also a string
This
This is also a string this is me
Ti sas  tig

In [13]:
string = "Hello World"
print( string[0] )
print( string[-1] )

H
d

In [14]:
c2 = """this
is
a
string
written
in
several
lines"""

print(c2)

this
is
a
string
written
in
several
lines

In [15]:
s1 = "this is a string containing 'quotation' marks"
print(s1)

this is a string containing 'quotation' marks

In [16]:
s2 = ' this is a string containing "double quotation marks" '
print(s2)

 this is a string containing "double quotation marks"

### 3.1.2 string concatenation

In [17]:
s1="this is a string"
s2='this is another string'


print(s1 + ' ' + s2)

this is a string this is another string

### 3.1.3 Repeating strings

In [18]:
s3 = "sample string "

print(3 * s3)

sample string sample string sample string

### Input/Output (I/O)

### Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

The easiest way to show this is through an example:

In [19]:
name = "John"
ID = 98200140
print("name: {} , ID: {}".format(name,ID))
print(f"name: {name} , ID: {ID}")

name: John , ID: 98200140
name: John , ID: 98200140

* Floating point number:

In [20]:
b=1.656
print(b)
print("the type of b is: ", type(b))
#The %f formatter is specifically used for formatting float values
print("b is equal to %.2f"%b)
print("b is rounded to %.1f"%b)

1.656
the type of b is:  <class 'float'>
b is equal to 1.66
b is rounded to 1.7

* Scientific notation:

In [ ]:
d=-1589.5e5
print(d)
print(type(d))
print("d is equal to {}".format(d))
print("d is equal to %e"%d)

-158950000.0
<class 'float'>
d is equal to -158950000.0
d is equal to -1.589500e+08

### Input

In [ ]:
num = input('Enter a number: ')
print("Your entered:", num)
print(type(num))

Enter a number: 15
Your entered: 15
<class 'str'>

# 3.2 List

Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In [21]:
# Assign a list to an variable named my_list

my_list = ['one','two','three', 4, 5, [41,20,56]]

In [22]:
print(len(my_list))

6

In [23]:
# Grab element at index 2
print(my_list[2])

three

In [24]:
# Grab 1st element of index 5 which is also a list
print(my_list[5][1])

20

In [25]:
# Reassign
my_list = my_list + ['add new item permanently']
print(my_list)

['one', 'two', 'three', 4, 5, [41, 20, 56], 'add new item permanently']

In [26]:
list1 = [1,2,3,4,5]
print(list1)

list1[0] = 1000
print(list1)

[1, 2, 3, 4, 5]
[1000, 2, 3, 4, 5]

In [27]:
list2d = [ [1,2,3] , [4,5,6] , [7,8,9] ]

# print(list2d)
print(list2d[1])
print(list2d[1][1])

[4, 5, 6]
5

## 3.2.1 Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [28]:
my_list.append(42) # equal to my_list + [42]
print(my_list)

['one', 'two', 'three', 4, 5, [41, 20, 56], 'add new item permanently', 42]

In [29]:
#remove item at index 3
my_list.pop(3)
print(my_list)

['one', 'two', 'three', 5, [41, 20, 56], 'add new item permanently', 42]

In [ ]:
my_list.remove('three')
print(my_list)

['one', 'two', 5, [41, 20, 56], 'add new item permanently', 42]

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
print(matrix)
print(matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

## 3.2.2 let's see some examples

In [30]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars',
           'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Indexing:
print(planets[0])
print(planets[1])
print(planets[-1])
print(planets[-2])

# Slicing:
print(planets[0:3])
print(planets[:3])
print(planets[3:])

# All the planets except the first and last
print(planets[1:-1])
# The last 3 planets
print(planets[-3:])

Mercury
Venus
Neptune
Uranus
['Mercury', 'Venus', 'Earth']
['Mercury', 'Venus', 'Earth']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
['Saturn', 'Uranus', 'Neptune']

In [31]:
# Changing list
planets[3] = 'Mars'
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# How many planets are there?
print(len(planets))
# The planets sorted in alphabetical order
print(sorted(planets))

# Another useful method:
print( planets.index('Earth') )

# Is Mars a planet?
print("Mars" in planets)

8
['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
2
True

# 3.3 Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

## 3.3.1 Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [32]:
# Create a tuple
t = (1,2,2,3,'ali')

In [33]:
t[1] = 8

TypeError: ignored

In [34]:
t.count(2)

2

In [35]:
t.index('ali')

4

## 3.3.2 tuple extraction

In [36]:
tuple3 = (1,2,3,4)
a,b,c,_ = tuple3

print(a)
print(b)
print(c)

1
2
3

## 3.4 Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [ ]:
x = set()
x.add(1)
print(x)

{1}

In [ ]:
x.add(2)
x.add(1)
print(x)

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]
set(list1)

{1, 2, 3, 4, 5, 6}

# 3.5 Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.
So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## 3.5.1 Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [38]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
# Let's call items from the dictionary
print(my_dict['key3'])
print(my_dict['key3'][0])

['item0', 'item1', 'item2']
item0

In [39]:
# Subtract 123 from the value
my_dict['key1'] = 10
print(my_dict['key1'])

10

In [41]:
#adding new key and value
my_dict['key4'] = 456
print(my_dict)

{'key1': 10, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2'], 'key4': 456}

In [40]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d['key1']['nestkey']['subnestkey']

'value'

## 3.5.2 A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'class1':32,'class2':30,'class3':34}

In [ ]:
# Method to return a list of all keys
print(d.keys())

dict_keys(['class1', 'class2', 'class3'])

In [ ]:
# Method to grab all values
print(d.values())

dict_values([32, 30, 34])

In [ ]:
# Method to return tuples of all items
print(d.items())

dict_items([('class1', 32), ('class2', 30), ('class3', 34)])

# 4. if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else:
        perform action3

In [ ]:
if False:
    print("It is True")

In [ ]:
x = 4
if x>0:
    print('positive')
else:
    print('negative')

positive

In [ ]:
step = 0

if step > 10:
    pass # the command that does nothing!
    # the code
elif step == 10: # Else If equivalent
    pass
    # the code
elif step == 9:
    quit() # Exit from the code or program !
else: # otherwise
    print("Nothing else matters")

Nothing else matters

# 5. For Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

for x in list1:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in list1:
    if num % 2 == 0:
        print('Even number:{}'.format(num))
    else:
        print('Odd number:{}'.format(num))

Odd number:1
Even number:2
Odd number:3
Even number:4
Odd number:5
Even number:6
Odd number:7
Even number:8
Odd number:9
Even number:10

In [ ]:
list2 = [(2,4),(6,8),(10,12)]

for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [ ]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
squares = []
for x in range(0,10,2):
    squares.append(x**2)
print(squares)

[0, 4, 16, 36, 64]

In [ ]:
squares = [x**2 for x in range(0,10,2) if x>5]
print(squares)

[36, 64]

# 6. while Loops

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

In [ ]:
x = 0
while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

# 8. Functions
Let's see how to build out a function's syntax in Python. It has the following form:

In [42]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

In [43]:
name_of_function.__doc__

"\n    This is where the function's Document String (docstring) goes\n    "

In [ ]:
def say_hello():
    print('hello')

say_hello()

hello

In [ ]:
def add_num(num1,num2):
    return num1+num2

sum = add_num(5,10)
print(sum)

15

In [ ]:
def add_num(num1, num2=10):
    return num1+num2

sum = add_num(5)
print(sum)

sum = add_num(1,17)
print(sum)

15
18

In [44]:
def add_num(num1=10, num2):
    return num1+num2

sum = add_num(5)
print(sum)

sum = add_num(1,17)
print(sum)

SyntaxError: ignored

## 8.1 Lambda

In [ ]:
function = lambda x, y: x**y
print(function(5,3))

125

# 9. Map function

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [ ]:
square_function = lambda x: x**2
nums=list(range(10))
print(nums)

squared_nums= list(map(square_function,nums))
print(squared_nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 10. Data casting

In [ ]:
int("123")

123

In [ ]:
str(123)

'123'

In [ ]:
float("1.66")

1.66

In [ ]:
list_from_string = list("Hello World")

print(list_from_string)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
my_list = ['a','b','c']
my_tuple = (1,2,3)
my_set = {10,11,12}
my_dict = {'A':1,'B':2,'C':3}

In [ ]:
list1 = list(my_tuple)
print(list1)

[1, 2, 3]

In [ ]:
list2 = list(my_set)
print(list2)

[10, 11, 12]

In [ ]:
list3 = list(my_dict)
print(list3)

['A', 'B', 'C']

# **Notes** <p style="color:red;"> Assignments are pointers to values !

In [ ]:
a = [1, 2, 3]
b = a
print(a)
print(b)


a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2]
[1, 2, 3]

* Solution:

In [ ]:
c = a.copy()
print(c)

[1, 2, 3, 4]

In [ ]:
a.extend([5,6])
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]

#More Information:
#####https://www.w3schools.com/python
#####https://docs.python.org/3/tutorial